<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<main role="main" class="py-5 flex-fill">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 py-2 box-shadow" th:each="entry : ${posts}">
                <img class="card-img-top" th:src="'https://picsum.photos/id/'+${entry.getId()}+'/500/350'" alt="Post Title Image">
                <div class="card-body">
                    <div class="card-title" th:text="${entry.getTitle()}"></div>
                    <p class="card-text" th:text="${entry.getLead()}"></p>
                    <div class="card-subtext"><a th:text="${entry.getAuthor()}"href="/#"></a></div>
                </div>
            </div>
        </div>
    </div>
</main>
</div>

</body>
</html>
